body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3 !important;
  color: white;
}

.present {
  background-color: #ff6961 !important;
  color: white;
}

.future {
  background-color: #77dd77 !important;
  color: white;
}

/* .saveBtn {
  width: 5%;
  height: 70px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.fas {
  color: #ff6961;
}

.calendar {
  margin-bottom: 30px;
} */

/* .guest {
  width: 80%;
  height: 70px;
  margin-left: 10%;
} */

footer {
  text-align: center;
  margin-top: 30px;
}
