body {
  background-color: lightpink;
}

.jumbotron {
  background-color: lightpink;
}

.display-4 {
  text-align: center;
}

.lead {
  text-align: center;
}
.form {
  width: 70vw;
  height: 4vw;
}
.save {
  height: 4vw;
  width: 4vw;
  margin-left: 0.3vw;
}
